* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div {
    width: 90%;
    border: 2px solid rgb(112, 152, 190);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
}
.textoautofill {
    padding: 30px;
    border-width: 5px;
    border-color: red;
    margin: 50px 0px;
}
h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 50px;
    text-transform: uppercase;
}
p {
    font-size: 2rem;
    overflow:hidden;    
}
img {
    width: 100%;
}